@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main {
    @apply flex;
  }
  .main-content {
    @apply px-10 py-5;
  }
  .movie-poster {
    @apply h-[10rem] object-cover;
  }
  .movie-desc {
    @apply flex flex-col px-4;
  }
  .movie-title {
    @apply font-bold text-3xl mb-3;
  }

  .user-action {
    @apply flex justify-between py-3;
  }
  .btn-turnoff {
    @apply flex w-20 h-8 bg-black text-center text-white rounded;
  }
  .movie-episodes {
    @apply flex flex-col py-4;
  }
  .movie-episodes-title {
    @apply font-medium text-2xl;
  }
  .movie-episodes-list {
    @apply py-5 text-white;
  }
  .movie-episodes-item {
    @apply w-10 h-6 mr-3 text-sm bg-black rounded-lg;
  }
  .movie-comment {
    @apply mt-5 h-[15rem] bg-zinc-600;
  }
}
